# Terraform state
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.*

# Diretórios gerados pelo Terraform
.terraform/
.terraform.lock.hcl

# Variáveis sensíveis
# *.tfvars
!*.tfvars.example

node_modules/
package-lock.json